:root {
    --white: #fff;
    --background: rgb(21, 26, 48);
    --gray-line: #dcdde0;
    --text: #b3b9ff;
    --text-highlight: #b3b9ff;
    --title: #cedbf7;
    --red: #e83f5b;
    --green: #4cd62b;
    --blue: linear-gradient(47deg, #00079b -60%, #3f86ff 100%);
    --blue-dark: linear-gradient(47deg, #00022D -60%, #345faa 100%);
    --blue-twitter: #2aa9e0;
    --fundo: rgb(34, 43, 69);

}


@media(max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}
@media(max-width: 720px){
    html {
        font-size: 87.5%;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: var(--background);
    color: var(--text);
}

body, input, textarea, button {
    font: 400 1rem 'Inter', sans-serif;
    
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

