.experienceBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.experienceBar span {
    font-size: 1rem;
}

.experienceBar > div {
    flex: 1;
    height: 8px;
    border-radius: 4px;
    background-color: rgb(34, 43, 69);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div {
    height: 8px;
    border-radius: 4px;
    background-color: var(--green);
}
.currentExperience {
    position: absolute;
    top: -33px;
    transform: translateX(-50%);

}
